*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.body{
    max-width: 1300px;
    margin: auto;
    border: 0px;
   
}
.box{
   
    padding: 10px;
    height: 400px;
    max-width: 600px;
    margin: auto;
    overflow: auto;
    margin-top: 50px;
    background-color: light;
    border: 3px solid black;
}
#send-container{
    padding: 10px;
  
    max-width: 600px;
    margin: auto;
}
#messageInput{
    display: inline;
    height: 40px;
    border: 2px solid black;
    overflow: auto;
}
.send-button{
    display: inline;
    margin-left: 5px;
}