*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.body{
    max-width: 1300px;
    margin: auto;
    border: 0px;
    background-color: white;
   
}
.box{
   
    padding: 10px;
    min-height: 300px;
    max-height: 600px;
    max-width: 700px;
    margin: auto;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('../assets/chatbg.jpg');
        
}
#send-container{
    max-width: 700px;
    margin: auto;
    margin-top: 10px;
    display: flex;
}
.send-button{
   
    margin-left: 10px;
    border-radius: 5px;
    background-color: #C7FCEC;
    color: black;
    font-weight: 600;
    border: 1px solid black;
}