*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.msg{
    padding: 10px;
    max-width: 350px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 3px;
    margin-bottom: 10px;
}
.left{
    background-color: yellow;
    float: left;
    clear: both;
}
.right{
    background-color: red;
    float: right;
    clear: both;
}