*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.msg{
    background-color: rgb(193, 241, 224);
    padding: 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: fit-content;
    border-radius: 3px;
    margin-bottom: 10px;
}
.left{
    float: left;
    clear: both;
}
.right{
    float: right;
    clear: both;
}